h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Roboto";
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.logo-text {
  color: #f4f4fd;
}
.logo-text1 {
  color: #2e2f42;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header CSS */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.thumb {
  display: flex;
  align-items: center;
}
/* Nav */
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}
.nav-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  min-width: 3em;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* Address */

.address {
  font-style: normal;
}
.ul-contact {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 40px;
  justify-content: flex-end;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  margin-right: 40px;
}
.address-link:last-child {
  margin-right: 0;
}
address :hover,
address :focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}
.section-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.section-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px auto;
  margin-top: 48px;
}
.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
}
:root {
  --button-bg-color: #4d5ae5;
}
.second-section {
  padding: 120px 0;
  background-color: #ffffff;
  text-align: center;
}
.second-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.section-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 24px;
  justify-content: space-between;
}

.list-heading {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em;
  color: #434455;
}
.third-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  text-align: left;
  border-radius: 0px 0px 4px 4px;
}
.employee-info {
  padding: 32px 0;
}
.employee-info h3 {
  text-align: center;
  margin-bottom: 8px;
}
.employee-info p {
  text-align: center;
}
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth-section-title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-list-app {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.list-item-app {
  width: calc((100% - 48px) / 3);
}
.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-heading {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.app-paragraph {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-paragraph {
  font-family: "Roboto";
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style: none;
}
